<%@ Template Language="C#" TargetLanguage="Java" Inherits="CodeTemplate" ResponseEncoding="utf-8" Description="根据一张数据表生成实体类"%>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>

<%-- 数据表 --%>
<%@ Property Name="Table" Type="TableSchema" DeepLoad="True" Category="DB" Optional="False"%>
<%@ Property Name="packageName" Default="cn.lsieun.knowthyself.service" Category="Java" Type="System.String" Optional="True"%>
<!-- #include file="../zealous_common/CommonScript.cst" -->
<% string clazzName = processUnderScoreName(Table.Name, "tb_", ""); %>
package <%= packageName %>;

import java.util.List;
import java.util.Map;

import cn.lsieun.knowthyself.dto.<%= clazzName %>DTO;
import cn.lsieun.knowthyself.dto.ValidationDTO;
import cn.lsieun.knowthyself.entity.<%= clazzName %>;



public interface <%= clazzName %>Service {

    <%= clazzName %>DTO create<%= clazzName %>(<%= clazzName %> <%= getCamelCaseName(clazzName) %>);

    boolean modify(<%= clazzName %> <%= getCamelCaseName(clazzName) %>);
    
    boolean delete(String uid);

    <%= clazzName %>DTO get<%= clazzName %>(String uid);

    List<<%= clazzName %>DTO> getList(Map<String,String> queryMap);

    int getCount(Map<String,String> queryMap);
    
    <%= clazzName %>DTO entity2DTO(<%= clazzName %> entity);
    
    List<<%= clazzName %>DTO> entityList2DTOList(List<<%= clazzName %>> entityList);  
    
    ValidationDTO validate(<%= clazzName %> <%= getCamelCaseName(clazzName) %>, boolean isCreate); 

}
